body {
  font-family: 'Ubuntu', sans-serif;
}

/* inizio barra lateraLe */

a {
  text-decoration: none;
  color: rgba(255,255,255,0.6);
}

a:hover {
  color: white;
}

.barra-laterale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.6;
  background-color: rgba(0,0,0,0.6);
  height: 85vh;
}

.container-ricerche {
  display: flex;
  flex-direction: column;
}

.hidden {
  margin-left: 20px;
}

.fontAwsome{
  padding-left: 10px;
  color: white;
}

.icon:hover {
  border-left: 3px solid #1ED760;
  color: white;
}

.container-ricerche img {
  width: 100%;
  padding: 30px 5px;
}

.sottomenu {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.container-bottom {
  display: flex;
  flex-direction: column;
}

.app {
  border-bottom: 1px solid white;
  padding: 10px;
}
.profile {
  padding:10px 0px;
}
/* fine barra laterale */
/* inizio main-contain */
main {
  background: linear-gradient(to top left, #000000 40%, #000066 100%);
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 15px;
  font-size: 10px;
}

.navbar a:hover {
  border-bottom: 2px solid #1ED760;
}

.hamburger {
  color: white;
  padding: 10px;
}

.container-playlist {
  width: 80%;
  height: 90vh;
  overflow: scroll;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #5E5E5E;
}

.main-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-music {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.box-img {
  width: 120px;
  color: white;
  text-align: center;
  margin: 10px;
  position: relative;
}

.box-img img {
  max-width: 100%;
}

.box-img i {
  display: none;
  position: absolute;
  top: 20%;
  left: 25%;
}

.box-img:hover i {
  display: block;
}

.box-img img:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* fine main-contain */
/* inizio footer */
footer {
  background-color: #282828;
  width: 100%;
  height: 15vh;
  position: fixed;
  bottom: 0;
}

footer i {
  color: #5E5E5E;
}

footer i:hover {
  color: white;
}

.album img {
  width: 90px;
  padding: 15px;
}

.album {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  color: #5E5E5E;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.text:hover {
  color: white;
  cursor: pointer;
}

.player {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-select {
  display: flex;
}

.player-select i {
  padding: 0 20px;
}

.slidecontainer {
  display: flex;
  padding-top: 10px;
  color: darkgrey;
}

.slider {
  width: 500px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
}

.range {
  padding: 0 10px 0 10px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fine footer */
/* tutte le mediaquery */
@media screen and (max-width: 768px) {
  .hidden {
    display: none;
  }

  .visibleno {
    display: none;
  }

  .container-ricerche img {
    width: 50px;
  }

  .volume {
    display: none;
  }

}

@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }

  .text {
    display: none;
  }

}
