/* inizio barra lateraLe */
aside {
  background-color: black;
  height: 500px;
}

a {
  text-decoration: none;
  color: white;
}

.barra-laterale a {
  display: flex;
  flex-direction: column;
}

.container-ricerche img {
  width: 100%;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
/* fine barra laterale */
/* inizio main-contain */
main {
  background-color: darkblue;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  margin: 30px 10px;
}

.container-music {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.box-img {
  width: 150px;
  margin: 10px;
  text-align: center;
  color: white;
}

.box-img img {
  width: 100%;
  margin: 5px;
}


footer {
  background-color: grey;
  height: 60px;
  /* position: fixed;
  bottom: 0; */
}
